// Just the Class dependencies
@import 'card';

// Just the Class styles
@import 'announcement';
@import 'module';
@import 'schedule';
@import 'staffer';

// Course website modules
@import 'search';

// Overrides
code {
  font-size: 14px;
  padding: 0.2em 0.4em;
  border: none;
}

iframe {
  max-width: 100%;
}

details {
  @extend .mb-4;
}

summary {
  @extend .btn, .btn-outline;

  width: 100%;
}

.main-content {
  dl {
    display: block;
    grid-template-columns: none;
  }

  dt {
    font-weight: bold;
    text-align: start;

    &::after {
      content: normal;
    }
  }

  dd {
    + dt {
      margin-top: 1em;
    }
  }
}

// Course font settings
body,
.site-title,
.site-nav,
.nav-list,
.main-content,
.main-header,
.search,
.search-input,
.breadcrumb-nav,
.table-wrapper,
.announcement,
.staffer,
.schedule,
.ustc-timetable,
button,
input,
textarea,
select {
  font-family:
    "KaiTi",
    "STKaiti",
    "Kaiti SC",
    "楷体",
    serif;
}

code,
pre,
.highlight,
.rouge-code,
.rouge-table {
  font-family:
    "SFMono-Regular",
    Consolas,
    "Liberation Mono",
    Menlo,
    monospace;
}